

{################ NOTE: IMPORT THE MACRO FILE WHERE YOU WANT TO USE THE MACROS ################}

{## Table of contents:

  1. Color Field CSS Mapper
  2. Trnasition CSS shorthand code
  3. Transform CSS shorthand code
  4. Boxshadow CSS shorthand code
  5. Boxsizing CSS shorthand code
  
##}

{% set macros = true %}
  
{# Begin: 1. Color Field CSS Mapper #}
{# Example:  .my-selector { color: {{ color('theme.color_field_name') }} } #} 
{% macro color(value) %}  
  {% set colorhex = value.color|convert_rgb %}  
  {% if value.opacity != null %}
    {% set coloropacity = value.opacity / 100 %}
  {% else %}
    {% set coloropacity = '1' %}
  {% endif %}  
  rgba({{ colorhex }}, {{ coloropacity }}) 
{% endmacro %}
{# End: 1. Color Field CSS Mapper #}


{# Begin: 2. Trnasition CSS shorthand code #}
{# Example:  .my-selector { transition: {{ transition('all ease-in-out 0.2s') }} } #} 
{% macro transition(value) -%}
  -webkit-transition: {{ value }};
  -moz-transition: {{ value }};
  -o-transition: {{ value }};
  -ms-transition: {{ value }};
  transition: {{ value }};
{%- endmacro %}
{# End: 2. Trnasition CSS shorthand code #}

{# Begin: 3. Transform CSS shorthand code #}
{# Example:  .my-selector { transform: {{ transform('translate(-50%, -50%) rotate(-45deg)') }} } #} 
{% macro transform(value) -%}
  -webkit-transform: {{ value }};
  -moz-transform: {{ value }};
  -o-transform: {{ value }};
  -ms-transform: {{ value }};
  transform: {{ value }};
{%- endmacro %}
{# End: 3. Transform CSS shorthand code #}

{# Begin: 4. Boxshadow CSS shorthand code #}
{# Example:  .my-selector { boxshadow: {{ boxshadow('0 0 0 #000') }} } #} 
{% macro boxshadow(value) -%}
  -webkit-box-shadow: {{ value }};
  -moz-box-shadow: {{ value }};
  -o-box-shadow: {{ value }};
  -ms-box-shadow: {{ value }};
  box-shadow: {{ value }};
{%- endmacro %}
{# End: 4. Boxshadow CSS shorthand code #}

{# Begin: 5. Boxsizing CSS shorthand code #}
{# Example:  .my-selector { boxsizing: {{ boxsizing('border-box') }} } #} 
{% macro boxsizing(value) -%}
  -webkit-box-sizing: {{ value }};
  -moz-box-sizing: {{ value }};
  -o-box-sizing: {{ value }};
  -ms-box-sizing: {{ value }};
  box-sizing: {{ value }};
{%- endmacro %}
{# End: 5. Boxsizing CSS shorthand code #}