{% import '../tools/_macros.css' %}
{% import '../tools/_variables.css' %}

.blog-post,
.blog-header__inner,
.blog-related-posts {
  padding: {{ theme.spacing.vertical_spacing ~ 'px' }} 0;
}

/* Blog post */

.blog-post__meta a {
  color: {{ body_font.color }};
}

.blog-post__tag-link {
  color: {{ body_font.color }};
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
  color: {{ color_variant(body_font.color, -40) }};
}

.blog-post__tag-link:active {
  color: {{ color_variant(body_font.color, 40) }};
}

/* Blog related posts */

.blog-related-posts__title-link,
.blog-related-posts__title-link:hover,
.blog-related-posts__title-link:focus,
.blog-related-posts__title-link:active {
  {{ h2_font.style }};
  text-transform: {{ h2_text_transform }};
}

.blog-related-posts__title-link {
  color: {{ h2_font.color }};
}

.blog-related-posts__title-link:hover,
.blog-related-posts__title-link:focus {
  color: {{ color_variant(h2_font.color, -40) }};
}

.blog-related-posts__title-link:active {
  color: {{ color_variant(h2_font.color, 40) }};
}

/* Blog listing */

.hs-blog-post-listing__post-title-link,
.hs-blog-post-listing__post-title-link:hover,
.hs-blog-post-listing__post-title-link:focus,
.hs-blog-post-listing__post-title-link:active {
  {{ h2_font.style }};
  text-transform: {{ h2_text_transform }};
}

.hs-blog-post-listing__post-title-link {
  color: {{ h2_font.color }};
}

.hs-blog-post-listing__post-title-link:hover,
.hs-blog-post-listing__post-title-link:focus {
  color: {{ color_variant(h2_font.color, -40) }};
}

.hs-blog-post-listing__post-title-link:active {
  color: {{ color_variant(h2_font.color, 40) }};
}


.hs-blog-post-listing__post-tag,
.hs-blog-post-listing__post-author-name {
  color: {{ body_font.color }};
}

/* Blog pagination */

.hs-pagination__link-text,
.hs-pagination__link--number {
  color: {{ body_font.color }};
}

.hs-pagination__link:hover .hs-pagination__link-text,
.hs-pagination__link:focus .hs-pagination__link-text,
.hs-pagination__link--number:hover,
.hs-pagination__link--number:focus {
  color: {{ color_variant(body_font.color, -40) }};
}

.hs-pagination__link:active .hs-pagination__link-text,
.hs-pagination__link--number:active {
  color: {{ color_variant(body_font.color, 40) }};
}

.hs-pagination__link-icon svg {
  fill: {{ body_font.color }};
}

/* Blog comments */

.blog-comments {
  margin-bottom: {{ theme.spacing.vertical_spacing }}px;
}

#comments-listing .comment-reply-to {
  color: {{ anchor_font.color }};
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: {{ color_variant(anchor_font.color, -40) }};
}

#comments-listing .comment-reply-to:active {
  color: {{ color_variant(anchor_font.color, 40) }};
}
