{% import '../tools/_macros.css' %}
{% import '../tools/_variables.css' %}

{########################################################################################################
                Put you Module CSS here. Make sure to saparate theme with module name
########################################################################################################} 
 
/* Pricing card */

.card__price {
  {{ h3_font.style }};
  color: {{ h3_font.color }};
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
}

.card__body svg {
  fill: {{ primary_color }};
}

/* Social follow */

.social-links__icon {
  background-color: {{ primary_color }};
}

.social-links__icon:hover,
.social-links__icon:focus {
  background-color: {{ color_variant(primary_color, -40) }};
}

.social-links__icon:active {
  background-color: {{ color_variant(primary_color, 40) }};
  {{ h3_font.style }};
  color: {{ h3_font.color }};
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
}